name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install EB CLI
        run: |
          pip install --upgrade pip
          pip install awsebcli

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Initialize EB CLI
        run: |
          # Initialize EB CLI for the existing app
          eb init my-app --platform python-3.9 --region ${{ secrets.AWS_REGION }}

      - name: Set default environment
        run: |
          # Use your existing environment (replace with your environment name)
          eb use Library-management-system

      - name: Deploy to Elastic Beanstalk
        run: |
          eb deploy

